body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #bbbbbb;
	padding: 20px 0;
}

.caixa {
	margin:0 auto;
	position: relative;
	width: 940px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	color: #000;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

.produtos {
	margin:0 auto;
	padding: 50px 0;
	width: 940px;
}

.produtos li {
	border:2px solid #000;
	border-radius: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin:0 1%;
	padding: 30px 20px;
	text-align: center;
	vertical-align: top;
	width: 30%;
}

.produtos li:hover {
	border-color: #c78c19;
}

.produtos li:active {
	border-color: #088c19;
}

.produtos li:hover h2 {
	font-size: 25px;
}

.produtos h2 {
	font-size: 20px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	background-image: url("../img/bg.jpg");
	padding: 40px 0;
	text-align: center;
}

.copyright {
	color: #fff;
	font-size: 13px;
	margin:20px 0 0;
}


form {
	margin: 40px 0 40px;
	padding-left: 50px;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin:20px 0;
}

.enviar {
	background: orange;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 0;
	transition: 1s all;
	width: 40%;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 50px 40px;
	
}

thead {
	background: #555;
	color: #fff;
	font-weight: bold;
}

td, th {
	border: 1px solid #000;
	padding: 15px 8px;
}

/*css da página inicial*/

.banner {
	width: 100%;
}

.titulo-principal {
	clear: left;
	font-size: 2em;
	margin: 0 0 1em;
	text-align: center;
}

.principal {
	background: #fefefe;
	padding: 3em 0;
	margin: 0 auto;
	width: 940px;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	float: left;
	margin:0 20px 20px 0;
	width: 120px;
}

.mapa {
	background: linear-gradient(#fefefe, #888888);
	padding: 3em 0;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	margin: 0 auto;
	width: 940px;
}

.beneficios {
	background: #888888;
	padding: 3em 0;
}

.conteudo-beneficios {
	margin: 0 auto;
	width: 640px;
}

.lista-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.itens {
	line-height: 1.5;
}

.itens:before {
	content: "🟊";
}

.itens:first-child {
	font-weight: bold;
}

.imagem-beneficios {
	box-shadow: 10px 10px 10px 0 #000;
	opacity: 1;
	transition: 400ms;
	width: 60%;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	margin: 2em auto;
	width: 560px;
}


@media screen and (max-width: 480px) {

	.caixa,
	.principal,
	.conteudo-beneficios,
	.mapa-conteudo,
	.video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

}